.company-detail-section{
    position: relative;
    margin-top: 13rem;
    padding-top: 3rem;
    cursor: default;

    .company-detail-title-description{
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 1rem;
    justify-content: space-between;

    @media (max-width:875px){
        display: block;
    }
    

    .company-image-detail{
        width: 550px;
        object-fit: contain;
        align-self: baseline;
        @media (max-width:1350px){
            width: 450px;
        }
        @media (max-width:1200px){
            width: 400px;
        }
        @media (max-width:975px){
            width: 350px;
        }
        @media (max-width:875px){
            width:100%!important;
        }
    }
    .company-logo-name-div{
    display: flex;
    flex-direction: column;
    width: 50%;
    @media (max-width:875px){
        width: 100%;
    }

    .company-text-description{

        p{
            position: relative;
            font-weight: 400;
            font-size: 19px;
            line-height: 28px;
            font-family: georgia,times,Times New Roman,serif; 
            z-index: 0;
            text-align: left;

            @media(max-width: 1200px){
                font-size: 16px;
            }

            @media(max-width: 1100px){
                font-size: 15px;
            }
        }
    }
    .flex-mobil-logo{

    @media(max-width:875px){
        display: flex;
        justify-content: space-between;
    }

    .company-div-logo-title{
        display: flex;
        align-items: center;
        @media(max-width:600px) {
            align-items: baseline;
        }
    .company-logo-detail-div{
        width: fit-content;
        position: relative;
        height: fit-content;
        

    .company-logo-detail{
        width: 300px;
        padding: 0.7rem;
    border: 3px solid orange;
    background-color: white;

    @media(max-width: 1050px){
        width: 250px;
    }
    @media(max-width: 750px){
        width: 210px;
    }
    @media(max-width: 650px){
        width: 180px;
    }
    @media(max-width: 415px){
        width: 160px;
    }
    @media(max-width: 360px){
        width: 135px;
    }
    @media(max-width: 330px){
        width: 120px;
    }
    }
}
    .company-detail-title-div{
        height: min-content;
        margin-left: 3rem;

    .company-detail-title{
        font-weight: 600;
        font-size: 55px;
        margin: 0;
        margin-bottom: 1rem;
        text-align:left; 
    }
}
    }
}
    
}
    .company-detail-location-industry-size{
        margin-top: 2rem;
        display: flex;
        margin-bottom: 2rem;

        @media(max-width:875px){
            margin-top: 0;
            align-items: center;
        }
        @media(max-width:600px){
            flex-direction: column;
        }
        
    .company-size{
        display: flex;
        flex-direction: column;
        font-family: nunito sans,Helvetica,sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    width: min-content;
    margin-right: 3rem;
    align-items: flex-start;
    @media(max-width:1300px){
        margin-right: 1.5rem;
          
    }
    @media(max-width:1050px){
        line-height: 10px;
          
    }
    @media(max-width:800px){
        margin-right: 0.7rem;
          
    }

    @media(max-width:600px){
        right: 11px;
        position: relative;
    }

    span{
        font-size: 15px;
        white-space: nowrap;
        @media(max-width:1300px){
            font-size: 14px;
              
        }
        @media(max-width:1050px){
            font-size: 13px;
              
        }
        @media(max-width:700px){
            font-size: 12px;
              
        }
        @media(max-width:415px){
            font-size: 11px;
        }
    }
    p{
        margin: 0;
        font-family: barlow semi condensed,Helvetica,sans-serif;
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
        color: #333;
        display: flex;
            svg{
                margin-right: 0.3rem;
            }
            @media(max-width:1300px){
                font-size: 20px;
    
                align-items: center;   
            }
            @media(max-width:1050px){
                font-size: 16px;
                  
            }
            @media(max-width:700px){
                font-size: 13px;
                  
            }
            @media(max-width:415px){
                font-size: 11px;
            }
    }
    }
    .company-location{
        display: flex;
        flex-direction: column;
        font-family: nunito sans,Helvetica,sans-serif;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        width: min-content;
        margin-right: 3rem;
        align-items: flex-start;

        @media(max-width:1300px){
            margin-right: 1.5rem;
              
        }
        @media(max-width:1050px){
            line-height: 10px;
              
        }
        @media(max-width:800px){
            margin-right: 0.7rem;
              
        }
        @media(max-width:600px){
            margin-bottom: 0.3rem;
        }
        span{
            font-size: 15px;
            white-space: nowrap;
            @media(max-width:1300px){
                font-size: 14px;
                  
            }
            @media(max-width:1050px){
                font-size: 13px;
                  
            }
            @media(max-width:700px){
                font-size: 12px;
                  
            }
            @media(max-width:415px){
                font-size: 11px;
            }
        }
        p{
            margin: 0;
            font-family: barlow semi condensed,Helvetica,sans-serif;
            font-weight: 600;
            font-size: 24px;
            line-height: 30px;
            color: #333;
            display: flex;
            svg{
                margin-right: 0.3rem;
            }
            @media(max-width:1300px){
                font-size: 20px;
                
                align-items: center;   
            }
            @media(max-width:1050px){
                font-size: 16px;
                  
            }
            @media(max-width:700px){
                font-size: 13px;
                  
            }
            @media(max-width:415px){
                font-size: 11px;
            }
        }
    }
    .company-industry{
        display: flex;
        flex-direction: column;
        font-family: nunito sans,Helvetica,sans-serif;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        width: min-content;
        margin-right: 3rem;
        align-items: flex-start;

        @media(max-width:1300px){
            margin-right: 1.5rem;
              
        }
        @media(max-width:1050px){
            line-height: 10px;   
        }
        @media(max-width:800px){
            margin-right: 0.7rem;
              
        }
        @media(max-width:600px){
            margin-bottom: 0.3rem;
        }
        span{
            font-size: 15px;
            white-space: nowrap;
            @media(max-width:1300px){
                font-size: 14px;
                  
            }
            @media(max-width:1050px){
                font-size: 13px;
                  
            }
            @media(max-width:700px){
                font-size: 12px;
                  
            }
            @media(max-width:415px){
                font-size: 11px;
            }
        }
        p{
            margin: 0;
            font-family: barlow semi condensed,Helvetica,sans-serif;
            font-weight: 600;
            font-size: 24px;
            line-height: 30px;
            color: #333;
            display: flex;
            svg{
                margin-right: 0.3rem;
            }
            @media(max-width:1300px){
                font-size: 20px;
    
                align-items: center;   
            }
            @media(max-width:1050px){
                font-size: 16px;
                  
            }
            @media(max-width:700px){
                font-size: 13px;
                  
            }
            @media(max-width:415px){
                font-size: 11px;
            }
        }
    }
    }
}
    .company-image-description{
        margin-top: 2rem;
    }
}

.no-jobs{
    font-weight: 400;
    font-size: 23px;
    line-height: 28px;
    font-family: georgia,times,Times New Roman,serif;
    z-index: 0;
    text-align: left;
    width: 80%;
    margin: 0 auto;
    margin-top: 4rem;
}