.params-level{
    text-align: initial;
    font-size: 13px;

    .Levels-title{
        margin-top: 2rem;
        margin-bottom: 0;
        cursor: default;
    }

    .checkbox-levels{
        margin-top: 0.5rem;
        input {
            margin-left:0 ;
            cursor: pointer;
        }
    }
}