.homepage{
    
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  overflow-x: hidden;
  position: relative;
	
  /* Set up positioning */
  top: 0;
  left: 0;

  .active{
    @media (max-width:550px){
        left: 2rem!important;
        
    }
    @media (max-width:485px){
        top: 4.1rem!important;    
    }
    
  }

  .hamburger-react{
      color: white;
      display: flex;
      z-index: 4;
    top: 3.7rem;
    position: absolute!important;
    right: 4rem;
    @media (min-width:751px){
        display: none;
    }
    @media (max-width:550px){
        right: 44px;
        
    }
    
    @media (max-width:425px){
        right: 1rem;
        
    }
    @media (max-width:360px){
        right: 0.5rem;
        
    }
  }

  .image-wraper{
    position: absolute;
    right: 0;
    left: 0;
    height: 90%;
    overflow: hidden;
    animation: kenburns 15s ease alternate forwards;
    background-image: url("../../assets/background-coffe-image.jpg");
    background-size: cover;
    min-width: 1024px;
    background-repeat:no-repeat;
    background-position: center center ;
    background-image: linear-gradient(rgba(0, 0, 0, 0.20),rgba(0, 0, 0, 0.5)),url("../../assets/background-coffe-image.jpg");

    @media (max-width:1050px){
        height: 50%;
        
    }
    @media (max-width:600px){
        height: 40%;
    }

   
    

    @keyframes kenburns{
        from {
            transform: scale(1);
        }
        to{
            transform: scale(1.10);
        }
    }
  }

  .header-logo-choice-container{
        
    display: flex;
    top: 4.5rem;
    position: absolute;
    right: 3rem;
    z-index: 2;
    a{
    text-decoration: none;
    margin-right: 1rem;
    font-weight: 700;
    font-size: 17px;
    overflow: hidden;
    background: linear-gradient(to right,orange,orange 50%, rgb(239, 242, 242) 50%);
    background-clip: text;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    @media (max-width:950px){
        font-size: 16px;
        top: 4.1rem;
    }
    @media (max-width:750px){
        display: none;
    }

    &:hover {
        background-position: 0 100%;
      }
    }
}

  .navbar{
    display: flex;
    width: 90%;
    margin: 0 auto;
    margin-top: 1rem;
    

    .jobb{
        color: orange;
        font-style: italic;
    }

    .iando{
        color: white;
        font-style: italic;
    }

    .logo{
        font-family: 'Playfair Display', serif;
        font-size: 40px;
        
    }
  }

 

    .homepage-form{
        
        display:flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: nowrap;
        margin: 0 auto;
        max-width: 760px;
        position: relative;

        form{
            option{
                .datalist-value{
                    @media (max-width:410px){
                        display: none;
                    }
                }
            }

        }

    
        

        .title-container{
            margin-bottom: 4rem;
            cursor: default;
            @media (max-width:550px){
                margin-bottom: 2rem;
                
            }
                 
            .title-homepage{
                font-family: 'EB Garamond', serif;
                font-size: 65px;
                color: orange;
                margin-bottom: 1rem;
                margin-top: 10rem;
                @media (max-width:950px){
                    font-size: 50px;
                }

                @media (max-width:750px){
                    font-size: 40px;
                    
                }
                @media (max-width:485px){
                    font-size: 32px;
                    
                }
                @media (max-width:385px){
                    font-size: 27px;
                    
                }
                @media (max-width:320px){
                    font-size: 23px;
                    
                }
                
            }
            
                .text-homepage{
                    font-family: 'EB Garamond', serif;
                    font-size: 25px;
                    color: white;
                    margin: 0;

                    @media (max-width:950px){
                        font-size: 22px;
                    }

                    @media (max-width:750px){
                        font-size: 20px;
                        width: 80%;
                        margin: 0 auto;
                    }
                    @media (max-width:485px){
                        font-size: 18px;
                        margin-top: 2rem;
                        
                    }
                    
                }

        }


        

    

        .search-icon{
        vertical-align: top;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px 0px 0px 5px;
        }
        

        .search-input{
            font-family: Nunito Sans,Helvetica,sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            background-color: #fff;
            border: none;
            color: #333;
            height: 60px;
            outline: none;
            padding: 0 48px 0 10px;
            border-right: 1px solid #e9e9e9;
            width: 293px;

            @media (max-width:950px){
                width: 27%;
            }
            @media (max-width:485px){
                width: 45%;
                
            }
            @media (max-width:385px){
                width: 70%;
                padding-right: 0;
                border-radius: 0 5px 5px 0;
            }

            @media (max-width:290px){
                width: 65%;
            }
            
        }

        .search-location{
            font-family: Nunito Sans,Helvetica,sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            background-color: #fff;
            border: none;
            color: #333;
            height: 60px;
            outline: none;
            padding: 0 48px 0 10px;
            width: 180px;
            
            @media (max-width:950px){
                width: 15%;
                
            }
            @media (max-width:485px){
                display: none;

            }

    
        }

        .search-submit-button{
            padding: 0;
            border-radius: 0 4px 4px 0;
            width: 110px;
            outline: none;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            cursor: pointer;
            letter-spacing: 1px;
            margin: 0;
            border: none;
            font-weight: 700;
            font-size: 12px;
            line-height: 24px;
            transition: background .3s ease-out;
            background-color: #3852d4;
            color: #fff;
            height: 60px;
            vertical-align: top;
            &:hover{
                background-color: #203787;
                transition: background .3s ease-out;
            }

            @media (max-width:950px){
                width: 13%;
            }

            @media (max-width:485px){
                width: 20%;
            }

            @media (max-width:385px){
                display: none;
            }
        }
    }

    .jobiando-usage{
        margin-top: 14rem;
        background-color: white;
        padding-bottom: 5rem;
        position: relative;
        cursor: default;
        @media (max-width:850px){
            
        }
        .title-usage{
            padding-top: 4rem;
            font-family: 'EB Garamond', serif;
            font-size: 35px;
            color: orange;
            margin-bottom: 3rem;

            @media (max-width:850px){
                font-size: 30px;
            }
            
        }
        .icon-texts{
            display: grid;
            width: 90%;
            margin: 0 auto;
            grid-template-columns: 1fr 1fr 1fr;
            line-height: 25px;

            @media (max-width:850px){
                display: flex;
                flex-direction: column;
                width: 80%;
            }

            .block{

                background-color: #FAF8F5;
                width: 90%;
                margin: 0 auto;
                padding-bottom: 2rem;
                
                    display:inline-block;
                    border:0;
                    position: relative;
                    -webkit-transition: all 200ms ease-in;
                    -webkit-transform: scale(1); 
                    -ms-transition: all 200ms ease-in;
                    -ms-transform: scale(1); 
                    -moz-transition: all 200ms ease-in;
                    -moz-transform: scale(1);
                    transition: all 200ms ease-in;
                    transform: scale(1);  
                    box-shadow: 5px 5px 10px rgba(24, 24, 24, 0.2);
                    border-radius: 5px;

                    @media (max-width:850px){
                        margin-bottom: 3rem;
                    }
                    
                    &:hover{
                        
                        z-index: 2;
                        -webkit-transition: all 200ms ease-in;
                        -webkit-transform: scale(1.15);
                        -ms-transition: all 200ms ease-in;
                        -ms-transform: scale(1.15);   
                        -moz-transition: all 200ms ease-in;
                        -moz-transform: scale(1.15);
                        transition: all 200ms ease-in;
                        transform: scale(1.15);
                    }
                

                .icon-option-title{
                font-family: 'EB Garamond', serif;
                font-size: 26px;
                color: orange;
                margin-bottom: 2rem;
            
            }

                .icon-option-text{
                color:gray;
                width: 80%;
                margin: 0 auto;
                font-size: 19px;
                font-weight: 500;
            }
        }
        }
    }
}